@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Cookie.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Fira-Sans-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Fira-Sans-bold.woff2) format('woff2');
}
